/* hero sections start */
.hero-section {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url('../../public/assets/hero-section-bg.webp') no-repeat center center/cover;
  padding-top: 150px;
  padding-bottom: 50px;
  position: relative;
}

.hero-section::before {
  content: '';
  background: #1E503F;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: 0;
}


/* featured section start */
.featured-section .color {
  display: block;
  width: 40px;
  height: 40px;
  padding: 6px;
  border-radius: 50%;

}

.featured-section .color.active {
  border: 1px solid #000;
}


/* accessories section start */
.accessories-section .grid>div:first-child {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url('../../public/assets/paddles.jpg') no-repeat center center/cover;
}

.accessories-section .grid>div:nth-child(2) {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url('../../public/assets/accessories.jpg') no-repeat center center/cover;
}

.accessories-section .grid>div:nth-child(3) {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url('../../public/assets/sets.jpg') no-repeat center center/cover;
}

.accessories-section .grid>div:last-child {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url('../../public/assets/gear.png') no-repeat center center/cover;
}


@media (max-width: 767.97px) {
  .featured-section .color {
    width: 30px;
    height: 30px;
    padding: 5px;
  }
}